*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: 670px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: hsl(0, 0%, 94%);
}

.card{
    position: relative;
    width: 600px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 20px 150px 20px;
}

.upper-section{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 50px;
    left: 30px;
}

.input-box{
    width: calc(100%/3 - 10px);
}

.text-day, .text-month, .text-year{
    display: inline-block;
    font-size: 9px;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}

input{
    height: 45px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 94%);
    padding: 10px;

}

input:focus{
    outline: none;
    border: 1px solid hsl(259, 100%, 65%);
}

.button-section{
    position: absolute;
    top: 140px;
    width: 580px;
    height: 60px;
}

#line{
    position: absolute;
    size: 20;
    width: 500px;
    color: hsl(0, 0%, 94%);
    margin-left: 20px;
    margin-top: 30px;
}

#main-button{
    position: absolute;
    top: 3px;
    right: 60px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: hsl(259, 100%, 65%);
}

#main-button::after{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: 1px solid white;
    background-image: url('assets/images/icon-arrow.svg');
    background-color: black;
    padding: 1rem;
    background-size: cover;
    transform: scale(0);
    animation: slide 150ms ease-in-out;
}

#main-button:hover::after{
    transform: scale(1);
}

.bottom-section{
    display: flex;
    position: absolute;
    top: 200px;
    left: 30px;
    height: 250px;
    width: 300px;
}



#update-text-1, #update-text-2, #update-text-3{
    display: block;
    font-size: 50px;
    color: hsl(259, 100%, 65%);
    font-weight: 700;
}

#fixed-text{
    display: block;
    font-size: 50px;
    font-style: italic;
    font-weight: 700;   
}

@media screen and (max-width:600px){

    *{
        overflow: hidden;
    }

    body{
        transition: all 0.5s ease;
        margin: auto;
    }
    .container{
        width: 360px;
        margin-right: 120px;
    }

    .card{
        padding: 1rem;
    }

    input{
        width: 80px;
        justify-content: space-between;
    }

    .button-section{
        height:70px;
    }

    #line{
        width: 300px;
        right: 150px;
    }

    #main-button{
        margin: auto;
        widht: 400px;
        left: 40px;
    }

    .bottom-section{
        height: 230px;
    }
}
